
body{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;

    margin: 0%;
    padding: 0%;

    background-color: aqua;
}

#welcome{
    display: flex;
    height: 80vh;
    width: 80vw;

    border-radius: 50px;

    background-color: blanchedalmond;
}

#inisalize{
    display: none;
    height: 80vh;
    width: 80vw;

    background-color: blueviolet;
}

#chart{
    display: none;
    height: 100vh;
    width: 100vw;

    background-color: rgb(255, 187, 0);
}

#room_details{
    display: none;
    height: 100vh;
    width: 100vw;

    background-color: rgb(0, 110, 255);
}

