.box{
    height: 80%;
    max-width: 89%;
    aspect-ratio: 5/9;
    border-radius: 1em;
   
    background: rgba(255, 255, 255, 0.183);
    backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.792);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.input_box{
    height: 40%;
    width: 95%;

    border-radius: 1em;
    

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    

    padding: 0.2em;
    gap: 0.5em;

}

.button_holder{
    height: 10%;
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: center;
}


.token_name{
    width: 100%;
    text-align: left;
    border-radius: 1em;
    padding: 0.3em;
}
.token_name_text{
    color: rgb(15, 4, 1);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    filter: drop-shadow(1px 1px 5px rgba(236, 236, 236, 0.491));
}

.show_my_token , .take_token{
    height: 60%;
    width: 90%;

    padding: 0.3em;
    border-radius: 1em;

    text-align: center;
    cursor: pointer;

    
    box-shadow: none;
    font-family: monospace;
    font-size: 0.85rem;

    resize: none;
}
.show_my_token{
    background-color: rgba(0, 255, 255, 0.3);
    border: 1px solid rgba(0, 255, 255, 0.4);    
    box-shadow: 0 5px 12px rgba(0, 100, 100, 0.6);
}
.take_token{
    background-color: rgba(165, 42, 42, 0.3);
    border: 1px solid rgba(165, 42, 42, 0.4);
    box-shadow: 0 5px 12px rgba(84, 0, 0, 0.6);
}

.show_token::-webkit-scrollbar{
    display: none;
}

.button{
    height: 100%;
    width: 80%;
    border-radius: 1em;
    border: 1px solid black;

    background: #0901abaa;
    color: white;

    font-weight: bold;
    font-size: x-large;
    font-family:'Times New Roman', Times, serif;

   
    box-shadow: 0 4px 12px rgba(11, 9, 50, 0.521);

    transition: transform 0.5s ease;
}

@media(hover: hover){
.button:hover{
    transform: translateY(-2px);
}
}

.button:active{
    transform: translateY(6px);
}